DEBUG=false

DJANGO_SECRET_KEY="generate some secret"

DATABASE_NAME="voximplant-medsenger-bot"
DATABASE_USER="user"
DATABASE_PASSWORD="super secure"
DATABASE_HOST="localhost"
DATABASE_PORT="1111"
SERVER_URL="http://localhost:8001"

TELEGRAM_TOKEN="7800550715:AAFAkQ5IOP_6qOZfRXCet6twb8I5x-0zlrg"
